@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }
  
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-500 antialiased overflow-hidden;
    overscroll-behavior: none; /* Previene il bounce scroll su Mac/iOS */
  }
  
  .dark body {
    @apply bg-slate-950 text-white;
  }
}

@layer utilities {
  /* Cross-browser Custom Scrollbar */
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  /* Targetting Webkit scrollbar based on parent class */
  .scrollbar-thumb-slate-300::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  .dark .scrollbar-thumb-ocean-700::-webkit-scrollbar-thumb {
    @apply bg-ocean-700 rounded-full;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-white/10 rounded-full hover:bg-slate-400 dark:hover:bg-white/20 transition-colors;
  }
}

/* Optimization for animations */
.will-change-transform {
  will-change: transform;
}