<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game - Fire Ship</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Battleship Game - Fire Ship</h1>

    <form action="/fire" method="POST">
        <label for="row">Row:</label>
        <input type="number" id="row" name="row" min="0" max="14" value="0" required>
        <br>

        <label for="col">Column:</label>
        <input type="number" id="col" name="col" min="0" max="14" value="0" required>
        <br>

        <input type="submit" value="Fire">
    </form>
</body>
</html>
