/* Set the overall font family */
body {
  font-family: monospace;
}

/* Style headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Style paragraphs */
p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 20px;
}

<<<<<<< HEAD


/* Set the font size for links */
=======
/* Style links */
>>>>>>> 6997d9c3a02d4cb5f4669ce8c5c1881286b89b39
a {
  color: #007bff;
  text-decoration: none;
}

/* Style and position buttons */
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
}

elememt.style {
=======
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

/* Style the elememt element */
.element {
>>>>>>> 6997d9c3a02d4cb5f4669ce8c5c1881286b89b39
  font-family: monospace;
}

.options {
     background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    left: 60%;
}

.fleet-details {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: fixed;
    left: 10%;
}

.fleet1-details, .fleet2-details {
    margin-bottom: 20px;
}


.fleet-details table {
    width: 100%;
    border-collapse: collapse;
}

.fleet-details th, .fleet-details td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
}


.game-container {
  display: flex;
  justify-content: space-between;
}

.game-boards {
  flex-basis: fit-content;
}

.fleet-details {
  flex-basis: fit-content;
}

.Fire_container, .game-boards{
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-basis: fit-content;
  height: fit-content;

}

.game-container{
  height: fit-content;
}

td{
  width: 18px; /* Set the desired width for the table cells */
  height: 18px; /* Set the desired height for the table cells */
  box-sizing: border-box; /* Include padding and border in the specified width and height */
  text-align: center; /* Center the text within the cells */
  vertical-align: middle; /* Vertically center the text within the cells */
  background-color: #f2f2f2;
}

