<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Battleship Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body><h1>Battleship Game</h1>


<div class="game-container">
  <div class="Player1">
    <h2>Player 1</h2>
    <div id="data-container">
      <table id="dataframe">
        <thead>
          <tr>
            <th />
            {% for header in board1.columns %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in board1.itertuples() %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="Player1-Shoots">
    <h2>Player 1 Shoots</h2>
    <div id="data-container_shoots">
      <table id="dataframe_shoots">
        <thead>
          <tr>
            <th />
            {% for header in board1_shoots.columns %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in board1_shoots.itertuples() %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="Player2" style="display: none">
    <h2>Player 2</h2>
    <div id="data-container2">
      <table id="dataframe2">
        <thead>
          <tr>
            <th />
            {% for header in board2.columns %}
            <th>{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in board2.itertuples() %}
          <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% if winner %}
<h2>Congratulations, {{ winner }} has won!</h2>
<div id="Restart"></div>
  <form action="/restart" method="POST">
  <button type="submit" name="Restart" style="height:100%;width:5%">Restart</button>
</div>
{% endif %}

{% if not winner %}
<div id="Fire_container">
  <h2>Number of shoots: {{hit1}}</h2>
  <form action="/fire" method="POST">
    <label for="row">Row:&ThickSpace;&ThickSpace;</label>
    <input type="number" id="row" name="row" min="0" max={{board2.columns.stop-1}} value="0" required>
    <br>
    <label for="col">Column:&MediumSpace;</label>
    <input type="number" id="col" name="col" min="0" max={{board2.columns.stop-1}} value="0" required>
    <br><br>
    <button type="submit" name="Fire" style="height:100%;width:5%">Fire</button>
    <button type="submit" name="Random" style="height:100%;width:5%">Random</button>
</div>
<br>
<a href="/place" style="display: none">Place Ships</a>
{% endif %}
</body>
</html>
